<div class="addArticle">
  <div class="content formContent">

<article-header-form-field-directive></article-header-form-field-directive>
<simple-text-form-field-directive></simple-text-form-field-directive>
<link-form-field-directive></link-form-field-directive>
<file-form-field-directive></file-form-field-directive>
<point-form-field-directive></point-form-field-directive>
<picture-form-field-directive></picture-form-field-directive>

<br><br><br><br><br>

    <input-directive></input-directive>
    <textarea-directive></textarea-directive>
    <select-option-directive></select-option-directive>
    <file-form-directive></file-form-directive>
  </div>
</div>