ARTICLES USERR
<div class="addArticle userArticles">
  <div class="content tableContent">
    <div class="header">
            <h1>Artykuły dodane przez Ciebie</h1>
        </div>
    <table class="table is-striped is-hoverable">
      <thead>
        <tr>
          <th><abbr title="number">Numer</abbr></th>
          <th><abbr title="title">Tytuł</abbr></th>
          <th><abbr title="category">Kategorie</abbr></th>
          <th><abbr title="creationDate">Data utworzenia</th>
          <th><abbr title="views">Liczba wyświetleń</abbr></th>
          <th><abbr title="edit">Edytuj</abbr></th>
          <th><abbr title="delete">Usuń</abbr></th>
          
        </tr>
      </thead>
      <tbody>
        <tr ng-if="initialized && articles.length>0" ng-repeat="article in articles">
          <th>{{$index+1}}</th>
          <td>{{article.title}}</td>
          <td>23</td>
          <td>{{article.creationDate| date:'dd-MM-yyyy'}}</td>
          <td>3</td>
          <td><i ng-click="edit(article.id)" class="fas fa-edit"></i></td>
          <td><i ng-click="remove(article.id)"class="far fa-trash-alt"></i></td>
        </tr>
      </tbody>
    </table>
    <div ng-if="articles.length<1"class="header marginTop">
      <h3>Nie dodałeś jeszcze żadnych artykułów</h3>
  </div>
  <button class="button is-primary" ng-click="addArticle()">Dodaj nowy artykuł</button>
  </div>
</div>