ARTICLES USERR

<table class="table">
  <thead>
    <tr>
      <th><abbr title="number">Numer</abbr></th>
      <th><abbr title="title">Tytuł</abbr></th>
      <th><abbr title="category">Kategorie</abbr></th>
      <th><abbr title="creationDate">Data utworzenia</th>
      <th><abbr title="views">Liczba wyświetleń</abbr></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="initialized" ng-repeat="article in articles.data">
      <th>1</th>
    
      <td>38</td>
      <td>23</td>
      <td>12</td>
      <td>3</td>
      
    </tr>
    <tr>
      <th>2</th>
      <td>38</td>
      <td>20</td>
      <td>11</td>
      <td>7</td>
  
    
    </tr>

  
  </tbody>
</table>