PARTS
<div class="addArticle" ng-controller="addArticlePartsCtrl">
  <div class="content formContent register addPartsContent">
    <div class="header">
      <h1>Tworzenie nowego artykułu</h1>
    </div>
    <div>
      <div class="creationPart">
        <div dragula='"bag-one"' >
          <div>Tekst</div>
          <div>Obraz</div>
          <div>Plik</div>
          <div>Link</div>
          <div>Nagłówek</div>
          <div>Punktor</div>
        </div>
        <div dragula='"bag-one"' class="sandbox" >

          <p>Tutaj przeciągnij wybrane elementy artykułu</p>
        </div>
      </div>
    </div>


  </div>
</div>