<div class="addArticle register">
    <div class="content formContent">
        <div class="header">
            <h1>Rejestracja</h1>
        </div>
        <input-directive display-name="Mail" control-name="registerForm.mail"></input-directive>
        <input-directive display-name="Hasło" control-name="registerForm.password" type="password"></input-directive>
        <input-directive display-name="Powtórz hasło" control-name="registerForm.passwordRepeat" type="password">
        </input-directive>
        <div class="buttons">
            <button class="button" ng-click="clear()">Wyczyść</button>
            <div></div>
            <button class="button is-primary" ng-click="submit()">Zapisz</button>
        </div>
        <div class="result" ng-if="registerStatus==true">

            <h2>Konto zostało utworzone!</h2>
            <button class="button is-primary">Zaloguj się</button>
        </div>
        <div class="result" ng-if="registerStatus===false">
            <h2>Rejestracja nie powiodła się, spróbuj ponownie.</h2>
        </div>
    </div>
</div>
