<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="assets/logo.png" >
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div class="navbar-menu">
      <div class="navbar-start">
        <a href = "#!/home"class="navbar-item">
          Strona główna
        </a>
  <!--
        <a class="navbar-item">
          Najnowsze artykuły
        </a>
-->
        <a href = "#!/search" class="navbar-item">
            Wyszukiwanie
          </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Popularne kategorie
          </a>
  
          <div class="navbar-dropdown">
            <a  href = "#!/search" class="navbar-item">
              Biologia
            </a>
            <a   href = "#!/search"class="navbar-item">
              Informatyka
            </a>
            <a  href = "#!/search" class="navbar-item">
              Chemia
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <a href = "#!/contact" class="navbar-item">
            Kontakt
          </a>
          <a  ng-if="logged" href = "#!/user" class="navbar-item">
            Moje artykuły
          </a>
          <div ng-if="logged" class="buttons">

         
        <div class="navbar-item has-dropdown is-hoverable is-right">
          <a class="navbar-link is-right">
            {{mail}}
          </a>
  
          <div class="navbar-dropdown" style="text-align: center;">
         
            <a class="button is-primary" ng-click = "logout()">
              <strong>Wyloguj</strong>
            </a>
          </div>
        </div>


            
           
          </div>
          <div ng-if="!logged" class="buttons">
            <a class="button is-primary"  href = "#!/register">
              <strong>Załóż konto</strong>
            </a>
            <a class="button is-light"href = "#!/login">
              Zaloguj
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>