<div class="addArticle register">
    <div class="content formContent">
        <div class="header">
            <h1>Logowanie</h1>
        </div>
        <input-directive display-name="Login" control-name="loginForm.mail" ></input-directive>
        <input-directive display-name="Hasło" control-name="loginForm.password" type="password"></input-directive>
        <div class="buttons">
            <button class="button" ng-click="clear()">Wyczyść</button>
            <div></div>
            <button class="button is-primary" ng-click="submit()">Zapisz</button>
          </div>
    </div>
</div>