<div class="cardFromGrid">
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="https://wf1.xcdn.pl/files/15/04/14/999278_852786milkywaygalaxypic_83.jpg.webp" alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
     
      <div class="media-content">
        <p class="title is-4">{{cardContent.title}}</p>
     
      </div>
    </div>

    <div class="content">
      {{cardContent.summary | limitTo : 200}}<span ng-if="cardContent.summary.length>200">...</span>
      
      <a>@bulmaio</a>.
      <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">{{cardContent.creationDate| date:'dd-MM-yyyy'}}</time>
     <div>
       <button class="button is-primary" ng-click="read(cardContent.id)">Czytaj dalej...</button>
     </div> 
    </div>
  </div>
</div>
</div>