single article

<div class=singleArticle>
  <div class="card">
    <div class="card-image">
      <figure class="image">
        <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div>
        <h1>{{article.title}}</h1>
      </div>
      <div class="categories">
      
       
            <span ng-repeat="category in article.categories" class="tag is-primary is-large">{{category}}</span>
      <!--  <div class="category">   <span>Technologia</span></div>-->
        
      </div>
      <div class="articleContent">
        <div ng-repeat="part in parts">
          <div ng-switch="part.type">
            <div ng-switch-when="t">
              <simple-text-directive text="part.content"></simple-text-directive>
            </div>
            <div ng-switch-when="po">
              <point-directive points="part.content"></point-directive>
            </div>
            <div ng-switch-when="h">
              <article-header-directive header = "part"></article-header-directive>
            </div>
            <div ng-switch-when="pi">
              <picture-directive picture="part"></picture-directive>
            </div>
            <div ng-switch-when="l">
              <link-directive link = "part"></link-directive>
            </div>
            <div ng-switch-when="f">
              <file-directive file="part"></file-directive>
            </div>

          </div>
          
        </div>




      <!--  <simple-text-directive text="text"></simple-text-directive>
        <point-directive points="points"></point-directive>
        <article-header-directive header = "header"></article-header-directive>
        <article-header-directive header = "header1"></article-header-directive>
        <article-header-directive header = "header2"></article-header-directive>
        <picture-directive picture="picture"></picture-directive>
        <link-directive link = "link"></link-directive>
        <file-directive file="file"></file-directive>-->


        <div class="media">

          <div class="media-content">
            <p class="title is-4">{{article.user.login}}</p>

            <time datetime="2016-1-1">{{article.creationDate| date:'dd-MM-yyyy'}}</time>
          </div>
        </div>

        <div dragula='"bag-one"'>
          <div>abc1</div>
          <div>abc2</div>
          <div>abc3</div>
        </div>
        <div dragula='"bag-one"'></div>
        <div dragula='"bag-two"'></div>
      </div>
      <!--
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
          </figure>
        </div>

        <div class="media-content">
          <p class="title is-4">John Smith</p>
          <p class="subtitle is-6">@johnsmith</p>
        </div>
      </div>

      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
        <a href="#">#css</a> <a href="#">#responsive</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>-->
    </div>
  </div>
</div>